<p>
  <strong>Código:</strong>
  <%= @product.code %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Unidad de medida:</strong>
  <%= @product.unity %>
</p>

<p>
  <strong>Cantidad disponible:</strong>
  <%= @product.stock %>
</p>

<p>
  <strong>Fecha de actualización:</strong>
  <%= @product.date %>
</p>